html, body {
    margin: 0;
    padding: 0;
    background: black;
    background-repeat: no-repeat;
}

img {
    height: 100%;
    width: 100%;
}

.sizee {
    width: 30%;
}

a {
    color: white;
    text-decoration: none;
}

/* .social a:hover i.fa-facebook-f {
    color: blue;
}

.social a:hover i.fa-linkedin {
    color: rgb(66, 66, 255);
}

.social a:hover i.fa-twitter-square {
    color: rgb(128, 187, 255);
}

.social a:hover i.fa-github {
    color: red;
} */